<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administrador CNJJ</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" 
    rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/dashboard/formulario.css}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

</head>
<style>
.venta-main {
    padding: 20px;
    text-align: center;
}

.venta-titulo {
    font-size: 28px;
    font-weight: bold;
    text-align: right;
    margin-bottom: 20px;
    padding-right: 20px;
}

.venta-contenedor {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.venta-cuadro {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    width: 280px;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.venta-subtitulo {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 15px;
    text-align: center;
    width: 100%;
}

.venta-contenido {
    width: 100%;
    padding-left: 10px;
}

.venta-textos {
    padding-left: 10px;
}

.venta-producto {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 10px;
}

.venta-imagen {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
}

.venta-boton-container {
    margin-top: 20px;
}

.venta-boton {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
}

.venta-boton:hover {
    background-color: #0056b3;
}

</style>
<body>
    <div class="container">
        <aside>
            <div class="top">
                <div class="logo">
                    <img th:src="@{/img/dashboard/Log_peluches.png}" alt="Logo"/>
                    <p th:if="${#authentication != null}">
                        Bienvenido, <span th:text="${#authentication.name}"></span>
                      </p>
                </div>
                <div class="close" id="close-btn">
                    <span class="material-icons-sharp">close</span>
                </div>
            </div>
            <div class="sidebar">
                <a href="/admin/dashboard">
                    <span class="material-icons-sharp">grid_view</span>
                    <h3>Panel</h3>
                </a>
                </a>
                <a href="/clientes" >
                    <span class="material-icons-sharp">account_circle</span>
                    <h3>Clientes</h3>
                </a>
                <a href="/PEDIDO/LISTA" >
                    <span class="material-icons-sharp">receipt_long</span>
                    <h3>Ordenes</h3>
                  </a>
                
                  <a href="/ventas"class="active" >
                    <span class="material-icons-sharp">receipt_long</span>
                    <h3>Ventas</h3>
                  </a>
                  
                <a href="/REPORTES">
                    <span class="material-icons-sharp">insights</span>
                    <h3>Analítica</h3>
                </a>
                <a href="/product/all">
                    <span class="material-icons-sharp">inventory</span>
                    <h3>Productos</h3>
                </a>
                <a href="/MATERIAL">
                    <span class="material-icons-sharp">report_gmailerrorred</span>
                    <h3>Materiales</h3>
                </a>
                <a href="/empleados" >
                    <span class="material-icons-sharp">account_circle</span>
                    <h3>Empleados</h3>
                </a>
                <a th:href="@{/logout}">

                    <span class="material-icons-sharp">logout</span>
                    <h3>Cerrar Sesión</h3>
                </a>
            </div>
        </aside>

        <main class="venta-main">
            <h1 class="venta-titulo">Venta #<span th:text="${sale.id}"></span></h1>
        
            <div class="venta-contenedor">
                <!-- Sección de entrega -->
                <div class="venta-cuadro">
                    <h3 class="venta-subtitulo"><i class="fas fa-user"></i> Usuario</h3>
                    <p class="venta-texto">
                        <strong>Nombre:</strong> <span th:text="${sale.usuario.nombre + ' ' + sale.usuario.apellido}"></span><br>
                        <strong>Dirección:</strong> <span th:text="${sale.usuario.direccion}"></span>
                    </p>
                </div>
        
                <!-- Sección de pago -->
                <div class="venta-cuadro">
                    <h3 class="venta-subtitulo"><i class="fas fa-credit-card"></i> Pago</h3>
                    <p class="venta-texto">
                        <strong>Total:</strong> <span th:text="'$' + ${sale.total}"></span>
                    </p>
                </div>
        
                <!-- Sección de resumen de productos -->
                <div class="venta-cuadro">
                    <h3 class="venta-subtitulo"><i class="fas fa-receipt"></i> Resumen</h3>
                    <div th:each="detail : ${details}">
                        
                        <p class="venta-texto"><strong>Producto:</strong> <span th:text="${detail.product.name}"></span></p>
                        <p class="venta-texto"><strong>Unidades:</strong> <span th:text="${detail.amount}"></span></p>
                        <img class="venta-imagen" alt="Imagen del producto" th:src="'data:image/jpeg;base64,' + ${detail.product.base64Image}" >
                    </div>
                </div>
            </div>
        
            <!-- Botón de regresar -->
            <div class="button-container">
                <td><a href="/ventas">Volver a la lista</a></td>
            </div>
        </main>
        
        <div class="right">
            <div class="top">
              <button id="menu-btn">
                <span class="material-icons-sharp">menu</span>
              </button>
              <div class="theme-toggler">
                <span class="material-icons-sharp active">light_mode</span>
                <span class="material-icons-sharp">dark_mode</span>
              </div>
            </div>
            
            <!-- Sección de lista de Chats -->
            <div class="chat-list">
              <div class="header">
                <h2>Chats</h2>
                <button id="newChatBtn" class="button">Nuevo Chat</button>
              </div>
              <div id="chatContainer">
                <!-- Aquí se cargarán dinámicamente los chats -->
              </div>
            </div>
            
            <!-- Slider lateral para el chat seleccionado -->
            <div id="chatSlider" class="chat-slider">
              <div class="slider-header">
                <h2 id="chatTitle"></h2>
                <button id="closeSliderBtn">
                  <span class="material-icons-sharp">close</span>
                </button>
              </div>
              <div id="chatMessages" class="chat-messages">
                <!-- Aquí se mostrarán los mensajes en tiempo real -->
              </div>
              <div class="chat-input">
                <input type="text" id="messageInput" placeholder="Escribe un mensaje..." />
                <button id="sendMessageBtn">
                  <span class="material-icons-sharp">send</span>
                </button>
              </div>
            </div>
            
            <!-- Modal personalizado para crear un nuevo chat -->
            <div id="chatModal" class="modal">
              <div class="modal-content">
                <span id="closeModal" class="close">&times;</span>
                <h2>Crear Nuevo Chat</h2>
                <form id="newChatForm">
                  <label for="chatName">Nombre del Chat:</label>
                  <input type="text" id="chatName" name="chatName" required>
                  <label for="user2Correo">Correo del Usuario:</label>
                  <input type="email" id="user2Correo" name="user2Correo" required>
                  <button type="submit">Crear Chat</button>
                </form>
              </div>
            </div>
          </div>

          <script th:src="@{/js/dashboard/chat.js}"></script>
    <script th:src="@{/js/dashboard/index.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.1/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
</body>
</html>