<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administrador Formulario</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">

    <link rel="stylesheet" th:href="@{/css/dashboard/formulario.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <div class="container">
        <aside>
            <div class="top">
                <div class="logo">
                    <img th:src="@{/img/Log_peluches.png}" alt="Logo"/>
                    <p th:if="${#authentication != null}">
                        Bienvenido, <span th:text="${#authentication.name}"></span>
                      </p>
                </div>
                <div class="close" id="close-btn">
                    <span class="material-icons-sharp">close</span>
                </div>
            </div>
            <div class="sidebar">
                <a href="/vendedor/dashboard">
                    <span class="material-icons-sharp">grid_view</span>
                    <h3>Panel</h3>
                </a>
                </a>
                <a href="/vendedor/clientes" >
                    <span class="material-icons-sharp">account_circle</span>
                    <h3>Clientes</h3>
                </a>
                <a href="/vendedor/PEDIDO/LISTA">
                    <span class="material-icons-sharp">receipt_long</span>
                    <h3>Ordenes</h3>
                  </a>
                
                  <a href="/vendedor/ventas" >
                     <span class="material-icons-sharp">receipt_long</span>
                     <h3>Ventas</h3>
                 </a>
                <a href="/vendedor/REPORTES">
                    <span class="material-icons-sharp">insights</span>
                    <h3>Analítica</h3>
                </a>
                <a href="/vendedor/product/all">
                    <span class="material-icons-sharp">inventory</span>
                    <h3>Productos</h3>
                </a>
               
                <a th:href="@{/logout}">

                    <span class="material-icons-sharp">logout</span>
                    <h3>Cerrar Sesión</h3>
                </a>
            </div>
        </aside>
        
        <main>
            <h1 class="titulo-detalle" th:text="@{DETALLE.id_detalle == null} ? 'Nuevo detalle' : 'EDITAR DETALLE'"></h1>
            <form th:action="@{/DETALLE/GUARDAR}" th:object="${DETALLE}" method="post">
                <input type="hidden" th:field="*{id_detalle}">
        
                <div class="input-container">
                    <label for="id_pedido">ID Pedido</label> 
                    <input type="number" th:field="*{id_pedido}" id="id_pedido" placeholder="Ej. 123" 
                           min="1" required> 
                </div>
        
                <div class="input-container">
                    <label for="id_producto">ID Producto</label>
                    <input type="text" th:field="*{id_producto}" id="id_producto" placeholder="Ej. 456">
                </div>

                <div class="input-container">
                    <label for="cantidad">Cantidad</label>
                    <input type="number" th:field="*{cantidad}" id="cantidad" placeholder="Ej. 10" 
                           min="1" max="9999" step="1" required>
                </div>
        
                <div class="input-container">
                    <label for="precio_unitario">Precio Unitario</label>
                    <input type="number" th:field="*{precio_unitario}" id="precio_unitario" placeholder="Ej. 15.50" 
                           step="0.01" required>
                </div>

                <div class="input-container">
                    <label for="subtotal">Subtotal</label>
                    <input type="number" id="subtotal" step="0.01" readonly> 
                </div>
        
                <div class="input-container">
                    <label for="fecha_registro">Fecha Registro</label>
                    <input type="datetime-local" th:field="*{fecha_registro}" id="fecha_registro" required> 
                </div>
        
                <div class="button-container">
                    <button type="submit">Guardar</button>
                </div>
            </form>
        
            <div class="button-container">
                <td><a href="/vendedor/DETALLE/LISTA">Volver a la lista</a></td>
            </div>
        </main>
        
        <div class="right">
            <div class="top">
              <button id="menu-btn">
                <span class="material-icons-sharp">menu</span>
              </button>
              <div class="theme-toggler">
                <span class="material-icons-sharp active">light_mode</span>
                <span class="material-icons-sharp">dark_mode</span>
              </div>
            </div>
            
            <!-- Sección de lista de Chats -->
            <div class="chat-list">
              <div class="header">
                <h2>Chats</h2>
                <button id="newChatBtn" class="button">Nuevo Chat</button>
              </div>
              <div id="chatContainer">
                <!-- Aquí se cargarán dinámicamente los chats -->
              </div>
            </div>
            
            <!-- Slider lateral para el chat seleccionado -->
            <div id="chatSlider" class="chat-slider">
              <div class="slider-header">
                <h2 id="chatTitle"></h2>
                <button id="closeSliderBtn">
                  <span class="material-icons-sharp">close</span>
                </button>
              </div>
              <div id="chatMessages" class="chat-messages">
                <!-- Aquí se mostrarán los mensajes en tiempo real -->
              </div>
              <div class="chat-input">
                <input type="text" id="messageInput" placeholder="Escribe un mensaje..." />
                <button id="sendMessageBtn">
                  <span class="material-icons-sharp">send</span>
                </button>
              </div>
            </div>
            
            <!-- Modal personalizado para crear un nuevo chat -->
            <div id="chatModal" class="modal">
              <div class="modal-content">
                <span id="closeModal" class="close">&times;</span>
                <h2>Crear Nuevo Chat</h2>
                <form id="newChatForm">
                  <label for="chatName">Nombre del Chat:</label>
                  <input type="text" id="chatName" name="chatName" required>
                  <label for="user2Correo">Correo del Usuario:</label>
                  <input type="email" id="user2Correo" name="user2Correo" required>
                  <button type="submit">Crear Chat</button>
                </form>
              </div>
            </div>
          </div>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script th:src="@{/js/index.js}"></script>
    <script th:src="@{/js/dashboard/operacion.js}"></script>
    <script th:src="@{/js/dashboard/chat.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.1/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
</body>
</html>
