.editar-btn {
    color: #4098FF; /* Azul fuerte, pero no tan intenso */
    font-weight: bold;  /* Hace que el texto sea más destacado */
    font-size: 1rem;     /* Tamaño adecuado */
    text-decoration: none; /* Elimina el subrayado predeterminado */
    transition: color 300ms ease-in-out; /* Transición suave al hacer hover */
}

.editar-btn:hover {
    color: #1D7FF7; /* Azul un poco más oscuro para el hover */
    text-decoration: underline; /* Subraya el texto al pasar el mouse */
    cursor: pointer; /* Cambia el cursor para indicar que es un enlace clickeable */
}
